@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@100;400&display=swap");

:root {
  --font-color: white;
  --bg-color: black;
  --hover-color: rgb(164, 209, 255);
}

body,
html {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url("./assets/galaxy-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  color: white;
}

/* 
 * header
 */

#header {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  width: 100vw;
  padding: 1.5rem;
  justify-items: center;
  align-items: center;
}

#title {
  font-size: 2.5rem;
}

/* 
 * form
 */

#searchCityForm {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  align-items: center;
}

input {
  position: relative;
  height: 2.2rem;
  width: 10rem;
  border-radius: 4px;
}

#searchCityButton {
  background-image: url("./assets/search_FILL0_wght400_GRAD0_opsz24.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: white;
  border-radius: 4px;
  margin-left: -1.5rem;
}

#searchCityButton:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

#error {
  margin-top: 0.3rem;
  margin-left: 0.7rem;
  color: red;
}

.hidden {
  visibility: hidden;
}

#weatherInformationContainer {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem;
  width: 100vw;
  top: 30%;
}

/* 
 * top
 */

#top {
  padding: 0.5rem;
}

#weatherCondition {
  font-size: 2rem;
}

#location {
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
}

/* 
 * bottom
 */

#bottom {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  padding: 0.5rem;
}

#fahrenheit {
  position: relative;
  font-size: 4rem;
}

#fahrenheit::after {
  content: "\00B0 F";
  font-size: 1.15rem;
  position: absolute;
  top: -3%;
}

#otherWeatherDetails {
  font-size: 1.25rem;
}

#celsius {
  position: relative;
}

#celsius::after {
  content: "\00B0 C";
  font-size: 0.75rem;
  position: absolute;
  top: -3%;
}
